dialog,
[popover] {
  display: none;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: var(--color-background--alternative);
  border-width: 0;
  color: inherit;
  box-sizing: border-box;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &:popover-open {
    display: block;
  }

  &.tooltip {
    inset: auto;
    right: calc(anchor(left) + var(--gap));
    justify-self: anchor-center;
    min-width: auto;
    min-height: auto;
    bottom: anchor(bottom);
    padding: var(--gap--s) var(--gap);
    background: var(--color-background);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
  }

  &.fading {
    opacity: 0;
    translate: 0 40px;
    transition-property: display opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
  }

  &[open] {
    display: block;
    opacity: 1;
    translate: 0 0px;

    @starting-style {
      opacity: 0;
      translate: 0 -40px;
    }
  }

  & [data-close-button] {
    width: auto;
    position: fixed;
    top: var(--gap);
    right: var(--gap);
  }
}

[popover] {
  &::backdrop {
    display: none;
  }
}

body:has(dialog[open]:not(.inline)) {
  overflow: hidden;
}

.drawer {
  opacity: 0;
  top: auto;
  bottom: 0;
  min-height: auto;
  max-height: 80vh;
  translate: 0 100%;
  transition-property: display opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;

  &.fixed {
    height: 80vh;
  }

  &.top {
    top: 0;
    bottom: auto;
    translate: 0 -100%;
  }
}

.drawer[open],
.drawer:popover-open {
  display: block;
  opacity: 1;
  translate: 0 0px;
  box-shadow: 0 -2px 15px -4px lightgray;

  @starting-style {
    opacity: 0;
    translate: 0 100%;
  }

  &.top {
    translate: 0 0px;

    @starting-style {
      translate: 0 -100%;
    }
  }
}
