#geek-zone-container.visible {
  display: flex;
  flex-direction: column;
  margin: var(--gap) 0;
  gap: var(--gap);
}

.times-sign {
  font-size: 2rem;
}

.final-score-container {
  display: flex;
  gap: var(--gap);
  padding: var(--gap);
  font-size: 1.5rem;
}
