coffee-details {
  position: relative;
  display: block;
  overflow: hidden;
}

coffee-details .image-container {
  min-height: 440px;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

coffee-details img {
  transition: opacity 0.4s ease-out;
  opacity: 1;
}

coffee-details .image-container:has(+ .details dialog[open]) img {
  opacity: 0.4;
}

coffee-details .details {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  background-color: var(--color-background);
  transform: translateY(calc(100% - 53px));
  transition: all 0.4s ease-out;
  overflow-y: auto;
}

coffee-details .details:has(dialog[open]) {
  transform: translateY(106px);
  box-shadow: 0px -4px 16px var(--color-shadow);
  bottom: 106px;
}

coffee-details .summary {
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  z-index: var(--z-index--m);
}

coffee-details dialog {
  position: relative;
}

select[name=originCountry] option {
  text-transform: capitalize;
}
