# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build
dist
package.zip

# Mac
.DS_Store

# Astro
.astro
node_modules/
packages/coffee.chealt.com/stats.html
dev-dist

# Turso
.env

# Playwright and Tests
a11y-report/
test-results/
test-reports/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Cloudflare Workers
.wrangler/
*.log
.dev.vars

# Testing Lambdas
packages/record-roaster-webshop/data
packages/webshop-item-processor/data
test-html/
