header {
  display: flex;
  overflow: hidden;

  h1 {
    flex-grow: 1;
    align-content: center;
  }

  .search {
    display: flex;
    flex-grow: 0;

    button {
      width: auto;
    }
  }

  [data-roaster] > a {
    font-size: 1.2rem;
    display: block;
    box-sizing: border-box;
    padding: var(--gap);
    width: 100%;
  }
}
