:root {
  --gap: 1rem;
  --gap--l: 1.4rem;

  --color-background: white;
  --color-background--alternative: #d4d4d4;
  --color-text: black;
  --color-text--primary: black;
  --color-primary: #e1a76d;
  --color-secondary: rgb(212 177 165 / 30%);
  --color-shadow: #505050;

  --z-index--xs: 10;
  --z-index--s: 20;
  --z-index--m: 30;
  --z-index--l: 40;
  --z-index--xl: 50;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-bottom: 100px; /* leave space for bottom controls */
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  margin: var(--gap);
  padding: 0;
}

section {
  margin: var(--gap--l) 0;
  padding: 0 var(--gap);
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: var(--color-text);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.emphasized {
  font-weight: bold;
  font-size: 1.5rem;
}

.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-marker-group: before;
}

.carousel > * {
  scroll-snap-align: start;
}

.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: var(--gap);
  position: absolute;
  top: var(--gap);
  justify-self: anchor-center;
}

.carousel > *::scroll-marker {
  content: "";
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: transparent;
  transition: background-color 0.8s ease-out;
}

.carousel > *::scroll-marker:target-current {
  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-background--alternative: #2f2f2f;
    --color-text: #e0e0e0;
    --color-text--primary: #272727;
    --color-secondary: rgba(255, 255, 255, 0.1);
    --color-shadow: rgba(0, 0, 0, 0.5);
  }
}
