nav {
  display: flex;
  flex-direction: row;
}

nav a {
  font-size: 1.2rem;
  font-weight: bold;
  flex-grow: 1;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: var(--gap);
  border-bottom: 4px solid transparent;
}

nav a.active {
  border-bottom-color: var(--color-primary);
}
