fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset legend {
  font-size: 1.2rem;

  &:not(:has(.name)) {
    margin-bottom: var(--gap);
  }

  .name {
    padding: var(--gap);
  }
}

input,
textarea,
[contenteditable] {
  display: block;
  width: 100%;
  border-radius: 0;
  padding: var(--gap);
  color: inherit;
  box-sizing: border-box;
  border: 2px solid transparent;

  &:focus-visible {
    outline: none;
    border-color: var(--color-primary);
  }
}

input,
textarea {
  font-size: 1.2rem;
  background-color: var(--color-secondary);
}

input:not([type='checkbox']):not([type='range']),
select {
  appearance: none;
}

select,
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  border: 2px solid transparent;

  &:focus-visible {
    outline: none;
    border-color: var(--color-primary);
  }
}

input[type='date'],
select,
button.combobox {
  /* iOS hack because of lack of padding support */
  text-indent: 16px;
  line-height: 21px;
  /* end of iOS hack */
}

input[disabled] {
  opacity: 0.5;
}

textarea {
  min-height: 15vh;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
