input,
[contenteditable] {
  display: block;
  width: 100%;
  border-width: 0;
  border-radius: 0;
  padding: var(--gap);
  margin: 0;
  font-size: 1.2rem;
  background-color: var(--color-secondary);
  color: inherit;
  box-sizing: border-box;
  appearance: initial;
}

input[type=date] {
  /* iOS bugfix for date input's overflow-x */
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  /* end of fix */
}

@media (prefers-color-scheme: dark) {
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
