chealt-i18n-banner {
  --handler-height: 14px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index--s);
  background: var(--color-background);
  transform: translateY(calc(-100% + var(--handler-height)));
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;

  chealt-form,
  form {
    width: 100%;
  }

  .handler {
    width: 100%;
    height: var(--handler-height);
    cursor: pointer;
    background: repeating-linear-gradient(
      45deg,
      var(--color-primary) 25%,
      var(--color-background) 25%,
      var(--color-background) 50%,
      var(--color-primary) 50%,
      var(--color-primary) 75%,
      var(--color-background) 75%,
      var(--color-background) 100%
    );
    background-size: 40px 40px;
    order: 2;
  }

  &.in-progress .handler {
    animation: slide 8s linear infinite;
  }

  .controls {
    order: 1;
  }

  [data-move] {
    cursor: move;
  }

  &.open {
    transform: translateY(0 + var(--handler-height));
  }

  &.bottom {
    top: auto;
    bottom: 0;
    transform: translateY(calc(100% - var(--handler-height)));

    .handler {
      order: 1;
    }

    .controls {
      order: 2;
    }

    &.open {
      transform: translateY(0);
    }
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}
