.controls {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.cupping-container {
  margin-top: 48px;

  .final-score-container {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: var(--gap);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
}

.times-sign {
  font-size: 2rem;
}
