#back-button {
  z-index: var(--z-index--xs);
  position: fixed;
  top: 0;
  left: 0;
  width: auto;

  &:active {
    top: 2px;
  }
}

.picture-collection {
  padding: 0;
}

.picture-collection img {
  width: 100%;
  display: block;
  will-change: transform;
}
