#back-button {
  z-index: var(--z-index--xs);
  position: fixed;
  top: var(--gap);
  left: var(--gap);
  border-radius: 50%;
  width: auto;

  &:active {
    top: calc(var(--gap) + 2px);
  }
}

.picture-collection {
  padding: 0;
}

.picture-collection > .carousel {
  border-radius: 0 0 20px 20px;
}

.picture-collection img {
  width: 100vw;
  display: block;
  will-change: transform;
}

.selected-items {
  margin-top: var(--gap);
  padding: 0 var(--gap);
}
