#back-button {
  z-index: var(--z-index--xs);
  position: fixed;
  top: var(--gap);
  left: var(--gap);
  border-radius: 50%;
  width: auto;

  &:active {
    top: calc(var(--gap) + 2px);
  }
}

.picture-collection {
  --max-image-width: 600px;

  padding: 0;
  max-width: var(--max-image-width);
  margin: 0 auto;
}

.picture-collection > .carousel {
  border-radius: 0 0 20px 20px;
}

.picture-collection img {
  width: 100vw;
  max-width: var(--max-image-width);
  display: block;
  will-change: transform;
}

.item-details ul:has(.chip) {
  margin-top: var(--gap);
}
