button {
  background-color: var(--color-background);
  padding: var(--gap);
  color: var(--color-text);
  width: 100%;
  border: 0px none;
  font-size: 1.2rem;
  cursor: pointer;
}

button.primary {
  background-color: var(--color-primary);
}
