.roaster-container {
  max-width: var(--max-main-image-width);
  margin-inline: auto;

  .links {
    display: flex;
    flex-direction: row;

    > a.button {
      flex-grow: 0;
      width: auto;
    }
  }

  .image.roaster {
    padding: var(--gap);
    background-color: var(--color-text);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .roaster.image.large {
    height: 500px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }
}

.filter-dialog-title ~ coffee-dialog ~ .filter-dialog-title {
  &::before {
    content: '& ';
    cursor: default;
    opacity: 0.5;
  }
}

.selector-list .primary {
  position: relative;
  padding-right: calc(2 * var(--gap));
  padding-left: calc(2 * var(--gap));

  &::after {
    content: 'x';
    position: absolute;
    right: calc(0.75 * var(--gap));
  }
}
