.list .coffee-details {
  width: 100%;

  .brewing-method .chip {
    background-color: var(--color-text);
    color: var(--color-background);

    svg {
      fill: var(--color-background);
      height: 28px;
    }
  }
}
