.roasters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  gap: var(--gap);
}

.roasters img {
  display: block;
  width: 100%;
  height: auto;
}

.roasters li {
  transition: transform 0.2s ease-in-out;
  background-color: white; /* works with transparent logos */
}

.roasters li:hover {
  transform: scale(110%);
}
