select {
  display: block;
  width: 100%;
  border-radius: 0;
  padding: var(--gap);
  font-size: 1.2rem;
  background-color: var(--color-secondary);
  color: inherit;
  box-sizing: border-box;
  appearance: initial;
}

chealt-filter {
  position: sticky;
  top: 0;
}
