coffee-details {
  position: relative;
  display: block;
  overflow: hidden;
}

coffee-details summary::marker,
coffee-details summary:is(::-webkit-details-marker) {
  display: none;
  content: '';
}

coffee-details .image-container {
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

coffee-details img {
  transition: opacity 0.4s ease-out;
  opacity: 1;
}

coffee-details img:has(+ details[open]) {
  opacity: 0.4;
}

coffee-details details {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  background-color: var(--color-background);
  transform: translateY(calc(100% - 53px));
  transition: all 0.4s ease-out;
}

coffee-details details[open] {
  transform: translateY(106px);
  box-shadow: 0px -4px 16px var(--color-shadow);
}

select[name=originCountry] option {
  text-transform: capitalize;
}
