#camera {
  display: none;
}

#camera.recording {
  display: block;
}

#pictures {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pictures li {
  margin: var(--gap) 0;
  padding: 0;
}

#pictures img {
  width: 100%;
}

#pictures .processing img::after {
  content: 'loading';
  width: 100%;
}
