dialog {
  padding: 0;
  min-width: calc(100% - calc(2 * var(--gap)));
  min-height: calc(100% - calc(2 * var(--gap)));
  background-color: var(--color-background);
  border-radius: 10px;
  border-width: 6px;
  flex-direction: column;
  box-sizing: border-box;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog:open {
  display: flex;
}

#camera #video {
  width: 100%;
}

#capture-photo {
  position: absolute;
  bottom: var(--gap);
  padding: var(--gap--l);
  border-radius: 50%;
  background-color: crimson;
  border-color: white;
  border-width: 6px;
  border-style: double;
  width: auto;
}

#pictures {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pictures li {
  margin: var(--gap) 0;
  padding: 0;
}

#pictures img {
  width: 100%;
}

#pictures .processing img::after {
  content: 'loading';
  width: 100%;
}

coffee-gallery .loading-ocr {
  display: none;
}

coffee-gallery.loading-ocr .loading-ocr{
  display: block;
}

#controls {
  box-shadow: 0px -8px 12px lightgray;
  position: fixed;
  bottom: var(--gap--l);
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
