.icon {
  &.icon-only {
    svg {
      display: block;
    }
  }

  &.active {
    svg {
      fill: var(--color-primary);
    }
  }

  &.small {
    svg {
      width: var(--icon-size--s);
      height: var(--icon-size--s);
    }
  }
}
