.controls {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  box-sizing: border-box;
  background-color: var(--color-background);
  align-items: center;
}

.controls button {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: transparent;
}
