.collections-page h1,
.collections-page h2,
.collections-page h3 {
  padding: 0 var(--gap);
}

.collections-page [contenteditable] {
  padding: var(--gap);
  margin: 0;
}

.collections-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap--l);
}

.collections-list .items-list {
  padding: var(--gap);

  > li a {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--border-radius);
  }
}

.collections-list img {
  will-change: transform;
}

header.title {
  display: flex;
  align-items: center;
  gap: var(--gap);

  h1 {
    flex-grow: 1;
  }

  .profile {
    width: auto;
    margin-right: var(--gap);
  }
}
