body {
  -webkit-touch-callout: none; /* disable context menu on iOS */
}

.collections-page {
  --selected-border-width: 4px;

  & h1,
  & h2,
  & h3 {
    padding: 0 var(--gap);
  }

  & [contenteditable] {
    padding: var(--gap);
    margin: 0;
  }

  & .title {
    position: relative;
    z-index: var(--z-index--m);
    background-color: var(--color-background);
  }
}

.collections-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap--l);

  .items-list {
    padding: var(--gap);

    > li a {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      border-radius: var(--border-radius);

      &.selected {
        border: var(--selected-border-width) solid var(--color-primary);
      }
    }
  }

  .archived {
    display: none;
    opacity: 0.4;

    .collections-page:has([name='showArchived']:checked) & {
      transform: translateY(0);
      display: block;
    }
  }
}

header.title {
  display: flex;
  align-items: center;
  gap: var(--gap);

  h1 {
    flex-grow: 1;
  }

  button,
  .button {
    width: auto;

    &:last-child {
      margin-right: var(--gap);
    }
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: var(--gap);
  overflow: hidden;
  align-items: center;

  & > * {
    height: var(--tile-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--color-background--alternative);
  }

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.collections-controls {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-background--alternative);
  position: absolute;
  width: 100%;
  max-width: var(--max-content-width);
  z-index: var(--z-index--s);
  transform: translateY(-100%);

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 0.2s ease-in-out;
  }

  &.visible {
    transform: translateY(0);
  }

  form {
    flex-direction: row;
  }
}

.collections-list .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap--s);
  transform: translateY(100%);

  /* make sure that the selected border is visible around the tag */
  width: auto;
  bottom: var(--selected-border-width);
  left: var(--selected-border-width);
  right: var(--selected-border-width);
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 0.2s ease-in-out;
  }

  .collections-page:has([name='showAge']:checked) & {
    transform: translateY(0);
  }
}

.collections-hidden-header {
  box-shadow: var(--shadow);
}
