::view-transition-image-pair(collectionItemCoverImage) {
  overflow: clip;
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-image-pair(collectionItemCoverImage) {
    overflow: hidden;
    animation-duration: var(--view-transition-duration);
    animation-name: morph-corners-to-collections;
  }

  html.collection-item-page {
    &::view-transition-image-pair(collectionItemCoverImage) {
      animation-name: morph-corners-to-item;
    }
  }

  ::scroll-marker-group {
    view-transition-name: carousel-markers;
  }

  ::view-transition-old(carousel-markers) {
    display: none;
  }

  ::view-transition-new(carousel-markers) {
    animation: fade-in var(--animation-duration--very-fast) ease-in-out both;
    animation-delay: var(--view-transition-duration);
  }
}

@keyframes morph-corners-to-item {
  from {
    border-radius: var(--border-radius);
  }

  to {
    border-radius: 0 0 20px 20px;
  }
}

@keyframes morph-corners-to-collections {
  from {
    border-radius: 0 0 20px 20px;
  }

  to {
    border-radius: var(--border-radius);
  }
}

@keyframes fade-in {
  0%,
  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
