button,
a.button {
  display: block;
  background-color: var(--color-background);
  padding: var(--gap);
  color: var(--color-text);
  width: 100%;
  border: 1px solid var(--color-text);
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  box-sizing: border-box;
  text-align: center;
}

button.primary {
  background-color: var(--color-primary);
  color: var(--color-text--primary);
  border-color: var(--color-primary);
}

button.primary .icon svg {
  fill: var(--color-text--primary);
}

button.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
