button,
a.button {
  display: block;
  position: relative;
  background-color: var(--color-background);
  padding: var(--gap);
  color: var(--color-text);
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  box-sizing: border-box;
  text-align: center;

  &.bordered,
  &.floating {
    border-width: 2px;
    border-color: var(--color-border);
  }

  &.dashed {
    border-style: dashed;
  }

  &.input {
    background-color: var(--color-secondary);
  }

  &.round {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: var(--border-radius);
  }

  &.small {
    padding: var(--gap--s);
    font-size: 0.8rem;

    .icon svg {
      width: var(--icon-size--s);
      height: var(--icon-size--s);
    }
  }

  &.inline {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
  }

  &.block {
    width: 100%;
  }

  &.tight {
    padding: var(--gap--s);
  }

  &.floating {
    position: fixed;
    width: auto;
    z-index: var(--z-index--s);
    border-radius: 50%;
    box-shadow: 2px 2px 4px var(--color-shadow);
    aspect-ratio: 1 / 1;
    min-height: 0;

    &.bottom {
      bottom: var(--bottom-gap);
    }

    &.right {
      right: var(--gap--l);
    }
  }

  &.shrink {
    width: auto;
  }
}

button[disabled],
a.button[disabled] {
  pointer-events: none;
  opacity: 0.2;
}

button.high,
a.button.high {
  padding-top: 0;
  padding-bottom: 0;

  .icon {
    height: 100%;

    svg {
      height: 100%;
    }
  }
}

button:has(.icon):not(.column),
a.button:has(.icon):not(.column) {
  display: flex;
  flex-direction: column;
}

button.primary,
a.button.primary {
  border: 2px solid var(--color-primary);

  &:focus-visible {
    border-color: var(--color-primary--border) !important;
  }
}

button.primary .icon svg {
  fill: var(--color-text--primary);
}

button.column,
a.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap--s);
}

button.ghost,
a.ghost {
  &:not(:focus-visible) {
    background-color: transparent;
    border-color: transparent;
  }
}

button.danger,
a.button.danger {
  background-color: var(--color-danger);

  &.ghost:not(:focus-visible) svg {
    fill: var(--color-danger);
  }
}

button.warning,
a.button.warning {
  color: var(--color-danger--text);

  svg {
    fill: var(--color-danger--text);
  }
}
