button,
a.button {
  display: block;
  position: relative;
  background-color: var(--color-background);
  padding: var(--gap);
  color: var(--color-text);
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  box-sizing: border-box;
  text-align: center;

  &.bordered {
    border-width: 2px;
    border-color: var(--color-border);
  }

  &.dashed {
    border-style: dashed;
  }

  &.input {
    background-color: var(--color-secondary);
  }

  &.round {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: var(--border-radius);
  }
}

button[disabled],
a.button[disabled] {
  pointer-events: none;
  opacity: 0.2;
}

button.small,
a.button.small {
  padding: var(--gap--s);
  font-size: 0.8rem;

  .icon svg {
    width: var(--icon-size--s);
    height: var(--icon-size--s);
  }
}

button:has(.icon):not(.column),
a.button:has(.icon):not(.column) {
  display: flex;
  flex-direction: column;
}

button.primary {
  background-color: var(--color-primary);
  color: var(--color-text--primary);
  border-color: var(--color-primary);
}

button.primary .icon svg {
  fill: var(--color-text--primary);
}

button.column,
a.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap--s);
}

button.ghost,
a.ghost {
  &:not(:focus-visible) {
    border-color: transparent;
  }
}

button.danger,
a.button.danger {
  background-color: var(--color-danger);
}

button.warning,
a.button.warning {
  color: var(--color-danger--text);

  svg {
    fill: var(--color-danger--text);
  }
}
