.data-container {
  padding: var(--gap);
  overflow-x: scroll;
}

.data {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    padding: var(--gap--s);
    border: 1px solid var(--color-border--alternative);
  }

  th {
    font-size: 1.4rem;
    white-space: nowrap;
  }

  input:not([type='checkbox']) {
    width: auto;
  }
}
